<h1>About</h1>

<img class="about-me" src="assets/img/about/zelda.JPG" alt="Owner of Tortie Designs, Taylor Yates with tortiseshell kitten Zelda" />
<img class="about-me" src="assets/img/about/zelda-2.jpg" alt="Owner of Tortie Designs, Taylor Yates with tortiseshell kitten Zelda" />

<p>
  Hi there!
</p>

<p>My name's Taylor and I'm the owner of Tortie Designs. This is Zelda - she's my "assistant".</p>

<p>
  Tortie Designs was started in April 2017 when I noticed my tortoiseshell kitten (Zelda) playing with one of my handmade polymer clay necklaces. I had recently started using polymer clay as an expressive medium for jewelry, and I ended up developing a brand inspired by the well known attitude of Tortiseshell cats - "tortitude" - cute, bold, but still subdue - with emphasis on keeping things bright and statement, but practical enough for everyday wear at the same time - not to mention, glitter wherever possible.
</p>

<p>
  We hope you enjoy Tortie Designs' creations.
</p>

<p>
  Love,
</p>

<h2>Taylor &amp; Zelda</h2>
