body {
  margin: 0;
}

header {
  text-align: center;
}

.logo {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

nav {
  ul {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    background-color: $white;
  }
}

.hero-nav-link {
  display: inline-block;
  text-align: center;
}

.hero-nav-link a {
  display: inline-block;
  color: $black;
  padding: 20px 50px;
  background-color: $white;

  &:hover {
    background-color: $orange;
    color: $white;
  }

  @media screen and (max-width: 888px) {
    padding: 10px;
  }
}

.active a {
  background-color: $white;
  color: $orange;
}

.notice-banner {
  width: 100%;
  background-color: $orange;
  text-align: center;
  display: flex;
  height: 42px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.1rem;

  @media screen and (max-width: 600px) {
    height: 70px;
  }
}

.mobile-hide {
  display: none;

  @media screen and (max-width: 600px) {
    display: block;
  }
}
