.content {
  @extend %grid;
  text-align: center;
}

.sale-pic {
    width: grid-span(12);
    display: inline-block;
    text-align: center;
}

h2 {
  font-size: 36px;
  display: inline-block;
}

h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.ldh {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;

  @media screen and (max-width: 888px) {
    margin-top: 20px;
  }
}

svg {
  display: block;
  width: 200px;
  margin: 0 auto;
}
