.media-grid {
  @extend %grid;
}

.media {
  @extend %grid-cell;
  width: grid-span(4);
  text-align: center;

  @media screen and (max-width: 835px) {
    width: grid-span(12);
  }
}

.item-image {
  max-width: 300px;
}
